# editor specific directories
/.vscode
/.vs
/.idea

# output directories
/cmake-build-debug
/cmake-build-release
/out

# object binaries
*.o
*.obj

# linker output
*.ilk
*.map
*.exp

# static libraries
*.lib
*.a

# shared libraries
*.dll
*.so
*.so.*
*.dylib

# executable binaries
*.exe
*.out
*.app

# debugging files
*.su
*.idb
*.pdb
